<div class="container" id="page-content">
    <!-- Your content goes here -->
    <!-- As a link -->
    <div class="row"> 
        <div class="col-sm-12">
            <div class="page-header">
                <h1><center>&#8813;<em> Leslie Ellen Eckhart </em>&#8813;</center></h1>
                <h2><small>Software Developer, Knitter, Oil Painter, Pet-Owner and Concerned World Citizen</small></h2>
            </div>
   
            <img id="LEE" class="img-node" src="http://farm5.staticflickr.com/4486/37972686916_f787e604d2_b.jpg" sstyle="transform: rotate(0deg) scale(1);">  
            <img id="catlady" class="img-wrap" id="yui_3_11_0_3_1509323878584_7064" src="http://farm5.staticflickr.com/4458/38026250671_0f8e620338_b.jpg" style="width: x; height: 508px;">
            <img  id="beach" class="img-node" src="http://farm5.staticflickr.com/4461/37976274006_a858583e3a_b.jpg" style="width: 508px; height: 508px;"> 
            <br>       
      
            <div id="jumbo1" class="jumbotron">
                <h2 class="display-5">Who Am I?</h2>
                    <p class="lead"> I am a Tallahassee Lassie, born and raised, second generation FSU graduate.  I have a <strong>B.S. in Computer Science</strong>. Having spent many years working on mainframe computers, I realized that it was time to branch-out and retool.</p>
                    <p class="lead"> One day while driving into work at the State and listening to our local NPR radio station, WFSU, I heard an ad for <strong>I/O Avenue's new Highway program.</strong>  It seemed perfect for me! I immediately applied by phone app when I reached my desk. I felt incredibly lucky when I got the email to interview for their first cohort ever (Fall 2017)!</p> 
                    <p class="lead"> I was elated when I got the email telling me that I had been selected!! <strong>The Highway class has been exciting AND challenging!  But I keep at it because I KNOW I can figure it out with the mentor support of the great folks at I/O Avenue - Ryan, John, Enara and Clay.</strong> </p> 
                <h3 class="display-5">Software Developer</h3>
                    <p class="lead">My varied experiences in mainframe application development and maintenance come from government and private industry in many sectors, including <strong>education, courts, casual dining and financial management.</strong></p>
                <h3 class="display-5">Pet and Wildlife Enthusiast</h3>
                    <p class="lead">I am currently owned by five cats!  They are the lights of my home, always keeping me well attended to.  They insist upon directing me in all things feline.  I am constantly requested to participate in playtime, nap time (I am their pillow), brushing and full-body massage work including ear scratching.</p>
                    <p class="lead">On the wild side, I truly enjoy watching the <em>Cardinals, Carolina Wrens, Carolina Chickadees, Titmice, Ground Thrashers, Gray Catbirds and House Finches </em> who frequent my birdfeeders. But my absolute favorites are the <b>tiny Ruby-Throated Hummingbirds</b> who wiz in and out of my back patio area as they forage for insects and nector from my feeders.</p>
                <h3 class="display-5">Environmentalist</h3>
                    <p class="lead">I have grown up admiring the natural beauty of the Big Bend of Florida, from the beaches to the hills of Tallahassee.  I have proudly switched 100% of my Tallahassee Utilities electricity usage to their new solar energy grid.</p>
                <br>
        
                <h3 class="display-5">Connect with me at:</h3>    
                    <p>         
                        <a id="purple-button" class="btn btn-outline-primary" href="https://github.com/LeslieEllenEckhart" role="button">My Github</a>
                        <a id="aqua-button" class="btn btn-outline-primary" href="mailto:leslie.ellen.eckhart@gmail.com" role="button">Contact Me</a>
                    </p>
            </div>

            <div class="text-center">
                <img id="PurpleLady" class="rounded" alt="Purple Lady" src="http://farm5.staticflickr.com/4451/37972695416_b444f244ba_b.jpg" style="width: 424px; height: 508px;">
           </div>

            <!-- At the end of all your content, add Bootstrap JS here -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        </div> 
    </div>
 </div>
